.ourwork-container{
  display:flex;
  justify-content:center;
  gap:80px;
  padding:80px 40px;
  margin-top: 40px;
}

.work-card{
  width:500px;
  height:auto;
}

.work-item{
  padding: 8px 8px 8px 8px;
  box-shadow: 0 20px 95px rgba(0,0,0,0.1);
  display:flex;
  align-items:center;
  gap:25px;
  margin-bottom:40px;
  background-image: linear-gradient(
    135deg,
    rgb(213, 196, 173) 0%,
    #ffffff 100%);
  border-radius: 10px;
}



.work-image{
  width:200px;
  height:140px;
  object-fit:cover;
  border-radius:8px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.work-text{
  flex:1;
}

.work-text li{
    font-size: 10px;
}

.work-text p{
  color: blue;
  font-size:12px;
  margin-bottom:10px;
  line-height:1.5;
}

/* BIG CARDS */

.work-card,
.feedback-card{
  position: relative;
  z-index: 1;
  width: 420px;
  height: 600px;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.25),
    0 8px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.work-card::before,
.feedback-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7),
    rgba(225, 225, 225, 0.5),
    rgba(255, 255, 255, 0.7)
  );
  background-size: 200% 200%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  animation: silver-shimmer 4s ease-in-out infinite;
  pointer-events: none;
  z-index: 0;
}

.card-title{
  text-align:center;
  font-size:16px;
  margin-bottom:30px;
}

@keyframes silver-shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TEXT LINES */

.text-lines{
  margin-left:120px;
  margin-top:40px;
}

.line{
  width:200px;
  height:6px;
  background:black;
  margin-bottom:18px;
  border-radius:4px;
}

.space{
  height:80px;
}

/* IMAGE BOXES */

.image-box{
  position:absolute;
  width:220px;
  height:150px;
  left:-140px;
  overflow:hidden;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.image-box img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box.top{
  top:150px;
}

.image-box.bottom{
  bottom:120px;
}

/* RIGHT CARD IMAGE */

.feedback-image{
  width:100%;
  height:480px;
  overflow:hidden;
  background-color: transparent;
}

.feedback-image img{
  margin-left: 55px;
  width:70%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}